#locations {
    /*background: #759108;*/
    width: 100%;
    height: auto;

}

#locations div {
    min-width: 280px;
    background: black;
    color: white;
    float: left;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    border-style: solid;
    border-color: #759108;
    border-width: 20px;
    padding: 20px;
    /*flex-grow: 1;*/

}

#locations div p {
    text-indent: 20px;

}

.header {
    background: black;
    font-size: medium;
    color: white;
}

/*#brand {*/
    /*font-size: medium;*/
    /*color: white;*/
/*}*/

/*#brand:hover {*/
    /*font-size: medium;*/
    /*color: #759108;*/

#brand-ref{
font-size: medium;
    color:white;
}

#brand-ref:hover{
font-size: medium;
    color:#759108;
>>>>>>> 3c2ca70d6576189d280d56f705995f251a6569eb
}

.footer {
    background: black;

    color: white;
}

.footer a {
    color: white;
    font-size: medium;
}

.welcome-image {
    width: 100%;
}

#benefits {
    background: black;
    color: white;
    width: 100%;
    height: auto;
    padding: 20px;

}

#vehicles {
    background: #759108;
    width: 100%;
    height: auto;
}

.vehicle-service {
    background: #759108;
    width: 100%;
    height: auto;
}

.vehicle {
    background: black;
    color: white;
    width: 100%;
    height: auto;
    padding: 20px;
    border-style: solid;
    border-color: #759108;
    border-width: 20px;

}

.bord {
    border-style: solid;
    border-color: #759108;
    border-width: 20px;
}

.pickUp {

    background: #759108;
    color: white;
    margin: 1%;
}

.park {
    background: #759108;
    color: white;
    margin: 1%;
}

.addOwners {
    background: #759108;
    color: white;
    margin: 1%;
}

#pay {
    background: #759108;
    color: white;
    margin: 1%;
}

#customers {
    color: black;
}

#addOwners {
    background: #759108;
    color: white;
    margin: 1%;
}

#park {
    background: #759108;
    color: white;
    margin: 1%;
}

#beClient {
    background: #759108;
    color: white;
    padding: 60px;
}

#loginForm {
    background: #759108;
    color: white;
    padding: 60px;
}

#openAddVehicleForm {
    background: black;
    color: white;
    margin: 15px;
    margin-top: 30px;

    padding: 15px;
    align: left;
}

#addVehicle {
    background: #759108;
    color: white;
}

.owners {
    background: #759108;
    color: white;
    margin: 1%;
}

#close-owners-modal {
    background: #759108;
    color: white;
}

.validation-error {
    color: black;

}

#registration {
    color: white;
    background: black;

}

#login-button {
    color: white;
    background: black;
}

#menu li a {
    color: white;
}

#menu li a:hover {
    color: #759108;
}